
body {
  background-color: #f2f2f2;
   font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}
h2 {
    font-size: 150%;
}
#h-top-bg {
  background: none repeat scroll 0 0 hsl(0, 0%, 100%);
}
#s-text > h2 {
  font-size: 213%;
}
.form-left {
 /* margin-left: 57px;*/
}
.highlight {
  color: hsl(173, 70%, 44%) !important;
}
#s-text > h3 {
  font-size: 153%;
}
.h-right.col-sm-4 {
  vertical-align: middle;
    display: inline-block;
    float: none;
  text-align: right;
    padding: 3%;
}

.h-left.col-sm-7 {
    vertical-align: middle;
    display: inline-block;
    float: none;
  text-align: left;
}

#main-img {
  max-width: 688px;
  width: 100%;
}
footer {
  background-color: #ffffff;
    padding: 3%
}
#huge {
  color: hsl(0, 0%, 100%);
  font-size: 775%;
}
.tru {
  font-size: 313%;
  font-weight: bold;
}
.you {
  background: none repeat scroll 0 0 hsl(173, 69%, 44%);
}
#ideas {
  padding: 3% 0 4%;
}
#protect h1.sectionheader, #about h1.sectionheader, #you2 h1.sectionheader, #final h1.sectionheader, #ideas h1.sectionheader, #poem h1.sectionheader, #entrepreneurship h1.sectionheader, #platform h1.sectionheader {
  font-size: 300%;
    padding-bottom: 2%;
}
.m-btn {
  background: none repeat scroll 0 0 hsl(173, 69%, 44%);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  padding: 5%;
    font-size: 125%;
    margin: 0 auto;
}
.cta.m-btn {
    padding: 4%;
    font-size: 125%;
    margin-bottom: 2%;
    font-weight: bold;
}
.cta.m-btn.first {
    padding: 10%;
    margin-top: 2%;
}
#top > img {
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
}
#top {
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
}
#s-text {
  text-align: center;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 3%;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

/* MENU CONF*/

.menu {
	position: fixed;
	right: -30%;
	width: 30%;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 5%;
	background: #1a1a1a;
	width: 125%;
	height: 100%;
}

.menu h1.logo a {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 150%;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 2%;
}

.menu h1.logo a:hover {
	color: #f85c37;
}

.menu img.logo {
	margin: 2% 0;
	max-width: 160px;
}

.menu a {
	margin-left: 2%;
	color: #808080;
	display: block;
	font-size: 150%;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 150%;
	line-height: 40px;
	margin: 3% .5%;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 150%;
	color: #808080;
	width: 5%;
	height: 5%;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 20%;
}

.body-push-toleft {
	left: -20%;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}
.int-bg {
  background: none repeat scroll 0 0 hsl(0, 0%, 96%);
}

ent-bg{
    width: 100%;
}
.pit, .bigger {
  font-size: 250%;
}
.bigger {
    color: #fff;
}
#main-cta img {
  max-width: 688px;
  width: 100%;
    padding: 1%;
}
.tab-content {
  padding: 2%;
}
#people, #reasons {
  background: none repeat scroll 0 0 hsl(0, 0%, 100%);
  padding-bottom: 2%;
}
#poem {
  background: none repeat scroll 0 0 hsl(0, 0%, 96%);
  border-top: 3px solid hsl(0, 0%, 87%);
  padding: 2% 0;
}
.wan.top {
  font-size: 150%;
  padding: 3%;
    font-weight:600;
}
.wan {
  font-size: 150%;
    padding-bottom: 2%;
    font-weight:600;
}
.ab-bg {
  background: none repeat scroll 0 0 hsl(173, 69%, 44%);
  padding: 3% 1%;
}
#js-rotating {
    font-weight: 800;   
}
.bar {
  border-right: 1px solid hsl(0, 0%, 100%);
    border-left: 1px solid hsl(0, 0%, 100%);
}
.howd {
  padding-bottom: 5%;
}
.offset-2 > hr {
  margin: 0 auto;
  padding-top: 2%;
  text-align: center;
  width: 60%;
}
.dark {
  color: hsl(0, 0%, 0%);
}
.unq{
	padding-bottom:2%;}
.plat-bg, .headline, .team-bg {
  padding: 3%;
}
.plat-bg, .in-bg, .team-bg {
    background: none repeat scroll 0 0 hsl(0, 0%, 100%);
    width: 100%;
}
#entrepreneurship {
  background: none repeat scroll 0 0 hsl(0, 0%, 100%);
  padding: 2% 0;
}
.tgf {
  padding: 3%;
}
.bgh {
  font-size: 213%;
  padding-bottom: 2%;
}
#pitc {
  padding-bottom: 3%;
}
.whit {
  color: hsl(0, 0%, 100%);
}
#menuToggle {
	position: absolute;
	top: 5%;
	left: -25%;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 275%;
	color: #1e2936;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#biglogo  {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.nav-tabs > li {
    width: 19.9%;
    text-align: center;
}

footer h3 {
    vertical-align: middle;
}

.left {
    right: 92%;
    position: absolute;
}

.nav-tabs > li > a {
    font-family: inherit;
}

.nav > li > a {
    padding: 2% 2%;
}

.edge {
    margin-left: -20px;
}

#menuToggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#menuToggle span, #menuToggle span:before, #menuToggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}
#menuToggle span:before {
  top: -10px; 
}
#menuToggle span:after {
  bottom: -10px;
}

#menuToggle span, #menuToggle span:before, #menuToggle span:after {
  transition: all 500ms ease-in-out;
}
#menuToggle.active span {
  background-color: transparent;
}
#menuToggle.active span:before, #menuToggle.active span:after {
  top: 0;
}
#menuToggle.active span:before {
  transform: rotate(45deg);
}
#menuToggle.active span:after {
  transform: rotate(-45deg);
}

#fea {
    padding: 2%;
}

#final h1.sectionheader, #you2 h1.sectionheader {
    padding-top: 2%;
}

#entrepreneurship h3 {
    padding: 0 3%;
}

div.row.invite {
    margin: 0;
}

panel-title {
    font-size: 150%;
}

.maincta, .footerinfo {
    vertical-align: middle;
    display: inline-block;
    float: none;
    text-align: center;
    margin: 0 auto;
}

h1.dark {
    font-size: 200%;
}

h1.highlight {
    font-size: 150%;
}

h1.highlight.pit {
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3.dark {
    font-size: 150%;
}

.final {
    padding: 3%;
}

#reasonstabs {
    border-radius: 5px;
}

#spa {
    font-size: 250%;
}

.icons {
    margin: 0 auto;
}
iframe.inspire {
    margin-bottom: .5%;
}
#box {
    position: relative;
    background: #23bfae;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    opacity: .8;
    padding: .5%;
}

#box:after {
    content: "";
    position: absolute;
    top: -25%;
    left: 45%;
    z-index: -3;
    border: solid 15px transparent;
    border-top-color: #23bfae;
}

#box:before {
    content: "";
    position: absolute;
    bottom: -25%;
    left: 45%;
    z-index: -3;
    border: solid 15px transparent;
    border-bottom-color: #23bfae;
}

#contacts {
    margin: 5%;
}

.control-group {
    padding: 1%;
}

.formspace {
    margin: 0 2%;
}

.form-control {
    font-size: 175%;
    height: auto;
}

.cta.m-btn.contactsubmit {
    padding: 2% 5%;
    font-weight: bold;
    margin: 0 auto;
}

.testing h4 {
    padding-bottom: 4.5%;
}


.testing {
    background-color: #0e4c45;
    -webkit-box-shadow: inset 10px 10px 39px 25px rgba(58,58,58,1);
    -moz-box-shadow: inset 10px 10px 39px 25px rgba(58,58,58,1);
    box-shadow: inset 10px 10px 39px 25px rgba(58,58,58,1);
    padding: 10% 5%;
}

.available {
    background-color: #1fab9c;
    -webkit-box-shadow: 10px 10px 39px 10px rgba(58,58,58,1);
    -moz-box-shadow: 10px 10px 39px 10px rgba(58,58,58,1);
    box-shadow: 10px 10px 39px 10px rgba(58,58,58,1);
    padding: 7% 5%;
}

#s-text h2 {
    margin-top: 0;
}

#team .space, {
    padding-bottom: 2%;
}

#partners img {
    padding-bottom: 10%;
}

@media screen and (max-device-width: 992px) {
    .nav > li > a {
        font-size: 110%;
    }
    .menu {
        right: -45%;
	   width: 45%;
    }
    #bottom p {
        margin-top: 3%;
    }
    .edge {
        margin-left: 0;
    }
}

@media screen and (max-device-width: 768px) {
    .bar {
      border-right: none;
        border-left: none;
    }
    .tgf img {
        margin: 0 auto;
    }
    .left img {
        display: none;
        right: 50%;
        position: absolute;
        opacity: .5;
    }
    .h-right.col-sm-4 {
      padding: 3%;
        padding-top: 0;
      text-align: left;
    }
    .nav > li > a {
        font-size: 92%;
    }
    #s-text {
        font-size: 80%;
    }
    .menu {
        right: -65%;
	   width: 65%;
    }
    .h-right.col-sm-4 {
        text-align: center;
        margin: 0 auto;
    }
    .m-btn {
        padding: 2%;
    }
    .cta.m-btn {
        margin-top: 2%;
    }
}

@media screen and (max-device-width: 480px) {
    #menuToggle {
        left: -15%;
    }
    .menu {
        right: -85%;
	   width: 85%;
    }
    #box:before {
        display: none;
    }
    #box:after {
        display: none;
    }
}